@import url('../vars.css');

.button-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: end;
	bottom: 0;
	width: 87%;
	height: 67px;
	border-radius: 8px;
	color: var(--bg-color);
	background-color: transparent;
	z-index: 1;
}
.primary-button {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: var(--bg-color);
	background-color: var(--gray);  
}

.primary-button:hover {
	cursor: pointer;
	background-color: var(--button-color);
}

@media screen and (max-width: 280px) {
	.button-container {
		justify-content: end;
	}
}